name: Flutter CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client

    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v3
        with:
          flutter-version: 'stable'
          channel: 'beta'


      - name: Check Flutter version
        run: flutter --version

      - name: Flutter pub get
        run: flutter pub get

      - name: Run tests
        run: flutter test