name: Flutter CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.7.0' # İstersen güncel sürümle değiştir

    - name: Flutter pub get
      run: flutter pub get

    - name: Run tests
      run: flutter test
